@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  @apply bg-blue-300/10;
}

@layer utilities {
  #skills-table td,
  #skills-table th {
    @apply py-4;
  }
}

@layer base {
  * {
    @apply scroll-mt-24 scroll-smooth text-neutral-50/70;
  }
  body {
    @apply bg-black;
  }

  .blue-underline {
    @apply  opacity-50 hover:opacity-100 transition-all;
  }

}

@layer components {
  .stack-card {
    @apply relative flex h-full max-h-[450px] flex-row items-center space-x-4 border border-neutral-800 p-4 hover:bg-green-500/10 sm:flex-col sm:items-start sm:space-x-0 sm:space-y-4 sm:p-8;
  }
}

.prose {
  @apply text-[#D4D4D4];
}

.prose .anchor {
  @apply absolute invisible no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em] font-normal text-white;
}

.prose a:hover {
  @apply dark:decoration-neutral-400 decoration-neutral-600 opacity-70;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-[#181818] rounded-xl overflow-x-auto ;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0 ;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium ;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4,
h5,
h6 {
  @apply font-medium tracking-tight !important;
}

.prose strong {
  @apply font-medium text-white;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}
